<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Random Image Generator</title>
  <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
  <link rel="icon" type="image/x-icon" href="/static/favicon.png">
</head>
<body>
  <header>
    <ul>
      <li><a href="/">Home</a></li>
      <li><a href="/about">About</a></li>
    </ul>
  </header>

  <button @click="generateImage">Random Image</button>
  <div class="main-image">
    <div id="spinner" class="spinner"></div>
    <img id="random-image" :src="initialImage" alt="Random Image">
  </div>

  <footer>
    <div class="container">
      <div class="made-with">
        <h3>Made With</h3>
      </div>
      <div class="flask-container">
        <img src="{{ url_for('static', filename='flask-logo-png-transparent.png') }}" alt="Flask" class="flask">
      </div>
    </div>
  </footer>

  <script src="{{ url_for('static', filename='main.js') }}"></script>
</body>
</html>
