<!-- index.html -->
<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Random Image Generator</title>
  <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>
<body>
  <header>
    <ul>
      <li><a href="/">Home</a></li>
      <li><a href="/about">About</a></li>
    </ul>
  </header>

 
    <button @click="generateImage">Generate Random Image</button>
    <div class="main-image">
      <img id="random-image" :src="initialImage" alt="Random Image">
    </div>

  <script>
    // Fetch initial random image URL
    fetch('/random-image')
      .then(response => response.json())
      .then(data => {
        document.getElementById('random-image').src = data.image_url;
      });

    // Function to generate new random image
    function generateImage() {
      fetch('/random-image')
        .then(response => response.json())
        .then(data => {
          document.getElementById('random-image').src = data.image_url;
        });
    }

    // Bind generateImage function to button click event
    document.querySelector('button').addEventListener('click', generateImage);
  </script>
</body>
</html>
